@import '../../../styles/mixins';
@import '../../../styles/colors';

.infoMessage {
  @include input-footer(font-color(regular), start);

  position: absolute;
  font-size: 11px;
  margin-top: 2px;
}
