@import '../../styles/colors';
@import '../../styles/mixins';

.wrapper {
  cursor: grab;
}

.workflow {
  display: inline;
}

.workflowTag {
  line,
  path {
    stroke: $color-green;
  }

  &.preview line,
  &.preview path {
    stroke: $font-color;
  }
}

.node {
  display: inline;
}

.edge {
  stroke: $font-color;

  &.active line,
  &.active path {
    stroke: $color-green;
  }
}

.nodeText {
  @include font-button;
  fill: $font-color;
}

.workflowTagText {
  @include font-button;
  fill: $font-color;

  line-height: 10px;
  alignment-baseline: central;
  text-anchor: end;
}
