@import 'Styles/variables';
@import 'Styles/colors';
@import 'Styles/mixins';

.apiTokenContent {
  line-height: 2.5 * $grid-unit;

  .tokenRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: font-color(lowlight);

    .title {
      display: flex;
      align-items: center;

      .date {
        @include font-body;

        margin: 0 0 0 2 * $grid-unit;

        strong {
          color: font-color(light);
          font-weight: 500;
        }
      }
    }

    .lastUsed {
      @include font-small;
      color: font-color(lowlight);

      margin: $grid-unit 0 0 4 * $grid-unit;

      .label {
      }

      .value {
        color: font-color(light);
        margin-left: $grid-unit;
      }
    }
  }

  .warning {
    border-top: solid 1px palette(base, 300);
    margin-top: 2 * $grid-unit;
    padding: 2 * $grid-unit;
  }
}
