@import '../../styles/colors';
@import '../../styles/mixins';


.container {
  display: none;

  &.visible {
    display: inherit;
  }
}

.title {
  @include font-caption;
  color: white;
}

.message {
}
