apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-admin-ui-ingress
  {{- with .Values.adminUI.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "admin-ui.labels" . | nindent 4 }}
spec:
  {{- if and .Values.adminUI.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.adminUI.ingress.className }}
  {{- end }}
  {{- if .Values.adminUI.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.adminUI.host }}
      secretName: {{ .Values.adminUI.host }}-tls
  {{- end }}
  rules:
    - host: {{ .Values.adminUI.host }}
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: admin-ui
                port:
                  name: web
