apiVersion: v1
kind: Service
metadata:
  name: admin-ui
  labels:
    {{- include "admin-ui.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - name: web
      port: 80
      protocol: TCP
      targetPort: web
  selector:
    {{- include "admin-ui.selectorLabels" . | nindent 4 }}