@import '../../../../../styles/colors';

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $font-color-light;
  font-size: 11px;
  font-weight: 700;
  padding: 8px;
  letter-spacing: 0.55px;
  height: 32px;
  line-height: 16px;
  padding-left: 32px;

  .icon {
    margin-left: auto;
  }

  &:hover {
    color: $font-color-white;
  }
}

.active {
  cursor: default;
  pointer-events: none;
  color: $font-color-white;
}

.active .item {
  background-color: #151618;
  color: $font-color-white;
  border-right: 4px solid #3f4c55;
}
