[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
grpcio-tools = "==1.28.1"
grpcio = "==1.28.1"
grpclib = "==0.3.1"
asyncio-nats-client = "*"
protobuf3-to-dict = "*"

[requires]
python_version = "3.6"
