@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.title {
  @include font-body;
}

.token {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    height: 100%;
    margin-left: $grid-unit;
  }

  .tokenValue {
    @include font-code;

    background-color: palette(base, 400);
    padding: 0.25 * $grid-unit $grid-unit;
    border-radius: 0.5 * $grid-unit;
    word-wrap: break-word;
    overflow: auto;
  }
}

.warning {
  @include font-small;
  color: font-color(lowlight);

  border-top: solid 1px palette(base, 300);
  margin-top: 2 * $grid-unit;
  padding: 2 * $grid-unit;
  line-height: 2.5 * $grid-unit;
}
