@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.formField {
  text-transform: capitalize;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  border: solid $bg-color-lighter;
  border-width: 2px 0;
  flex-shrink: 0;

  .label {
    @include font-body;
    color: font-color(light);

    margin: 0 1vw 0 16px !important;
  }

  svg {
    margin-left: 20px;
  }

  .input {
    width: auto;
    flex-grow: 1;
  }

  .button {
    margin-left: 2vw;
  }
}
