@import '../../styles/colors';
@import '../../styles/mixins';

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 40px 40px 0 85px;
  min-width: 540px;
  overflow: hidden;
}
.generalSettings {
  .formField {
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    border: solid $bg-color-lighter;
    border-width: 2px 0;

    .label {
      @include font-body;
      color: font-color(light);

      margin: 0 40px 0 30px;
    }

    svg {
      margin-left: 20px;
    }

    .input {
      width: 140px;
    }
  }
}

.securitySettings {
  margin: 40px 40px 75px 85px;
}

.formTitle {
  @include font-subheader;
  color: font-color(light);
}

.formDescription {
  @include font-body;

  margin-top: 10px;
}

.listsContainer {
  display: flex;
  overflow: hidden;
  height: 100vh;
  & > div:first-child {
    margin-right: 48px;
  }
}

@media (max-width: 1400px) {
  .listsContainer {
    flex-direction: column;
    & div:first-child {
      margin-right: 0;
    }
  }
}
