@import '../../../../styles/mixins';
@import '../../../../styles/colors';

$color-active-bg: palette(gray, 750);

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 46px 32px 46px;
}

.subtitle {
  @include font-body;
  color: font-color(light);

  margin-bottom: 60px;
}

.activeVersion {
  @include border-header;

  margin-bottom: 32px;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-active-bg;
}

.versionTitle,
.versionName {
  @include font-body;
  color: font-color(light);
}

.versionTitle {
  line-height: 40px;
}

.versionCreation {
  @include font-caption;
  color: font-color(light);

  margin: 5px 25px;
}

.versionStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px auto 25px 29px;
}
.versionName {
  margin-right: 25px;
}

.greenCircle {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: $color-ok;
  flex-shrink: 0;
}

.secondRow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  padding-right: 16px;
}

.versionList {
  @include listItems;

  display: relative;
  padding: 0 0 30px 0;
  overflow: overlay;
}
