@import '../../styles/colors';
@import '../../styles/mixins';

.container {
  @include font-button;
  position: relative;
  line-height: 40px;
  height: 40px;
  text-align: center;
  padding: 0 12px;
  cursor: pointer;
  transition: color ease 0.4s;
  color: $font-color-light;
  background-color: $bg-color-dark;
  z-index: 1;

  &:hover {
    color: $font-color-white;

    .arrow {
      border-color: white;
    }
  }

  &:active {
    box-shadow: none;
  }

  &:after {
    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    right: 14px;
    top: 14px;
    content: '';
    border: solid 1px transparent;
    border-bottom-color: white;
    border-right-color: white;
    transition: transform ease 0.3s, top ease 0.3s;
  }

  &.is-open:after {
    transform: rotate(45deg) scale(-1);
    top: 17px;
  }
}

.label {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  user-select: none;
}

.options {
  transition: max-height ease 0.3s;
  overflow: hidden;
  box-shadow: black 0px 4px 7px;
}
