developmentMode: false

runtime:
  host: "local"

sharedStorageClass: standard

nats_streaming:
  replicas: 1
  storage:
    className: standard
    size: 1Gi

mongo:
  persistentVolume:
    enabled: true
    storageClass: standard
    size: 5Gi
  auth:
    enabled: true
    adminUser: "admin"
    adminPassword: "123456"

minio:
  image:
    repository: tetrash/minio-multiarch
    tag: latest
  credentials:
    accessKey: admin
    secretKey: "12345678"
  storage:
    size: 1Gi

chronograf:
  persistence:
    enabled: true
    storageClass: "standard"
    accessMode: ReadWriteOnce
    size: 2Gi

influxdb:
  image:
    tag: 1.8.1
  config:
    http:
      enabled: true
      flux-enabled: true
      auth-enabled: false
  persistence:
    enabled: true
    storageClass: "standard"
    accessMode: ReadWriteOnce
    size: 10Gi
  initScripts:
    enabled: true
    scripts:
      init.iql: |+
        CREATE DATABASE "kre"
