@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/variables';

.tabContainer {
  height: $grid-unit * 5;
  display: flex;
  align-items: flex-end;
  padding: $grid-unit $grid-unit 0 $grid-unit;
  background-color: $color-grey-darker;
  & > div {
    min-width: $grid-unit * 9.5;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $grid-unit * 25.5;
    padding: $grid-unit $grid-unit $grid-unit $grid-unit * 2;
    height: $grid-unit * 4;
    background-color: $bg-color;
    font-size: $grid-unit * 1.5;
    & > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  & > div:not(:last-child) {
    margin-right: $grid-unit;
  }
  & > div.selected {
    height: $grid-unit * 4;
    background-color: $color-grey-lighter;
    font-size: $grid-unit * 1.5;
  }
}
