@import '../../styles/colors';
@import '../../styles/mixins';

.btn {
  @include font-button;
  line-height: 40px;
  height: 40px;
  text-align: center;
  padding: 0 42px;
  cursor: pointer;
  transition: color ease 0.4s;

  &:hover {
    color: $font-color-white;
  }

  &:active {
    color: $font-color;
  }
}

.primary {
  color: #1a1b1f;
  background-color: $color-button-blue;

  &:active {
    box-shadow: 0 0 20px 0 $color-button-blue;
  }
}

.dark {
  color: $font-color;
  background-color: black;

  &:hover {
    color: $font-color-white;
  }

  &:active {
    box-shadow: none;
  }
}

.label {
  color: $font-color;
}

.disabled {
  color: $font-color;
  pointer-events: none;
  background-color: $color-grey;
}


.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 5px;

  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid white;
    border-color: white transparent white transparent;
    animation: spinner 1.2s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
