@import 'Styles/colors';
@import 'Styles/mixins';
@import 'Styles/variables';
@import 'Styles/borders';
@import 'Styles/shadows';

$color-primary: palette(highlight, 400);
$color-gray: palette(base, 300);

@mixin solid($color) {
  border: 0;
  background-color: palette($color);
  color: font-color(dark);

  &:hover,
  &:focus {
    @include glow(3, palette($color));
    background-color: palette($color, 400);
    color: font-color(dark);
  }

  &:active {
    @include glow(4, palette($color));
  }
}
@mixin only-border($color) {
  @include border(palette($color));

  &:hover,
  &:focus {
    @include text-glow(3, palette($color));
    color: palette($color);
  }

  &:active {
    @include text-glow(3, palette($color));
    color: font-color(lowlight);
  }
}

.btn {
  @include font-button;
  position: relative;
  text-align: center;
  padding: 0 $grid-unit * 2.5;
  white-space: nowrap;
  cursor: pointer;
  transition: color ease 0.4s, background-color ease 0.4s, box-shadow ease 0.2s,
    text-shadow ease 0.2s;

  display: flex;
  flex-direction: row;
  align-items: center;

  user-select: none;

  box-shadow: 0;
  text-shadow: 0;

  outline: none;

  span {
    width: 100%;
  }

  &:not(.noLabel) svg {
    margin-right: $grid-unit;
  }

  &.middle {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }

  &.noLabel {
    padding: 0 14px;
  }

  @extend .transparent;

  &.primary {
    @include solid(highlight);

    &.warn {
      @include solid(alert);
    }
  }

  &.border {
    @include only-border(highlight);

    &.warn {
      @include only-border(alert);
      color: palette(alert);
    }
  }
}

a.navLinkSelected .btn {
  @extend .primary;
}

.transparent {
  @include solid(base);
  background-color: transparent;
  color: font-color(lowlight);

  &:hover,
  &:focus {
    box-shadow: none;
    color: font-color(light);
  }
}

.label {
  color: font-color(lowlight);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
