@import '../../../../styles/colors';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 700px;
  overflow: auto;
  padding: 23px 0 10px 36px;
}
