@import '../../styles/colors';
@import '../../styles/mixins';

.container {
  display: none;
  padding: 14px 0 0 21px;
  background-color: $bg-color-dark;
  max-width: 278px;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);

  &.visible {
    display: block;
  }
}

.title {
  @include font-caption;
  color: white;
}

.message {
  @include font-body;
  font-weight: 500;

  margin: 20px 21px 65px 0;
}
