@import '~konstellation-web-components/styles/colors';

$color-status-error: $color-error;
$color-status-up: $color-ok;
$color-status-down: $color-other;
$color-status-changing: palette(feedback);
$color-status-loading: $color-primary;

$color-dashboard: (
  guide-line: palette(base, 300),
  primary: palette(highlight),
  primary-dark: palette(highlight, 800),
  primary-darker: palette(highlight, 900),
  primary-light: palette(highlight, 400),
  tooltip: palette(base, 700)
);
