@import './colors';

@function get-color-prop($status) {
  $color: red;

  @if $status == 'PUBLISHED' {
    $color: $color-ok;
  } @else if $status == 'STARTED' {
    $color: $color-primary;
  } @else if $status == 'STOPPED' {
    $color: font-color(light);
  } @else if $status == 'CREATING' {
    $color: palette(feedback);
  } @else if $status == 'CREATED' {
    $color: font-color(light);
  } @else if $status == 'STARTING' {
    $color: palette(feedback);
  } @else if $status == 'STOPPING' {
    $color: palette(feedback);
  } @else if $status == 'STOPPING' {
    $color: palette(error);
  }

  @return $color;
}
