@function palette($palette, $tone) {
  @return map-get(map-get($palettes, $palette), $tone);
}

$palettes: (
  font: (
    darker: black,
    dark: #19191b,
    regular: #696d70,
    light: #a0a7ac,
    white: #f5f8fa
  ),
  red: (
    error: #ea4747,
    800: #580d17
  ),
  orange: (
    warning: #fc9900,
    300: #fcbf30
  ),
  green: (
    ok: #7bac1c
  ),
  gray: (
    400: #3e4046,
    500: #282d33,
    600: rgba(191, 207, 255, 0.15),
    700: #212428,
    750: #1d1e23,
    775: #1a1b1f,
    800: #15161a,
    850: #121317,
    900: #0d0e11,
    950: black
  ),
  primary: (
    200: #66e2ff,
    250: #1ad3ff,
    300: #00cffc,
    350: #00cfff,
    500: #007c99,
    600: #1c5266,
    650: #005266,
    700: #024e61,
    900: #052933
  )
);

$font-color-dark: palette(font, dark);
$font-color-regular: palette(font, regular);
$font-color-light: palette(font, light);
$font-color-white: palette(font, white);

$bg-color: palette(gray, 900);
$bg-color-dark: palette(gray, 950);
$bg-color-lighter: palette(gray, 800);
$bg-highlighted: palette(gray, 600);

$color-primary: palette(primary, 350);
$color-ok: palette(green, ok);
$color-warn: palette(orange, warning);
$color-error: palette(red, error);

$color-dashboard: (
  guide-line: palette(gray, 400),
  primary: palette(primary, 500),
  primary-dark: palette(primary, 600),
  primary-light: palette(primary, 200),
  tooltip: palette(gray, 850)
);

$color-shield: palette(gray, 700);
$opacity-shield: 0.4;
