@function palette($palette, $tone) {
  @return map-get(map-get($palettes, $palette), $tone);
}

$scale-to-weight: (
  50: 80%,
  100: 60%,
  200: 40%,
  300: 20%,
  400: 10%,
  500: 0%,
  600: 20%,
  700: 40%,
  800: 60%,
  900: 80%
);

@function get-color($color, $value) {
  $final-color: $color;

  @if map-has-key($scale-to-weight, $value) {
    @if $value > 500 {
      $final-color: mix(black, $color, map-get($scale-to-weight, $value));
    } @else if $value < 500 {
      $final-color: mix(white, $color, map-get($scale-to-weight, $value));
    }
  } @else {
    @error 'scale value #{$value} is not defined. Check $scale-to-weight map';
  }

  @return $final-color;
}

@function foo-palette($color, $value: 500) {
  $final-color: black;

  @if map-has-key($new-palette, $color) {
    $final-color: get-color(map-get($new-palette, $color), $value);
  } @else {
    @error 'unknown color #{$color}. Check colors in $new-palette';
  }

  @return $final-color;
}

@function font-color($color) {
  @return map-get($color-font, $color);
}

$new-palette: (
  base: #101010,
  highlight: #33ffff,
  lowlight: #747474,
  white: #ffffff,
  success: #6daa48,
  alert: #fc915f,
  error: #e52e3d,
  feedback: #1f82b5
);

$color-font: (
  light: foo-palette(white),
  highlight: foo-palette(highlight),
  regular: foo-palette(lowlight),
  grey: foo-palette(base, 200),
  dark: foo-palette(base)
);

$palettes: (
  font: (
    darker: black,
    dark: #19191b,
    regular: #696d70,
    light: #a0a7ac,
    white: #f5f8fa
  ),
  red: (
    error: #ea4747,
    800: #580d17
  ),
  orange: (
    warning: #fc9900,
    300: #fcbf30
  ),
  green: (
    ok: #7bac1c
  ),
  gray: (
    400: #3e4046,
    500: #282d33,
    600: rgba(191, 207, 255, 0.15),
    700: #212428,
    750: #1d1e23,
    775: #1a1b1f,
    800: #15161a,
    850: #121317,
    900: #0d0e11,
    950: black
  ),
  primary: (
    200: #66e2ff,
    250: #1ad3ff,
    300: #00cffc,
    350: #00cfff,
    500: #007c99,
    600: #1c5266,
    650: #005266,
    700: #024e61,
    900: #052933
  )
);

$bg-color: foo-palette(base, 600);
$bg-color-dark: foo-palette(base, 900);
$bg-color-lighter: foo-palette(base, 400);
$bg-highlighted: foo-palette(base, 300);

$color-primary: foo-palette(feedback);

$color-ok: foo-palette(success);
$color-warn: foo-palette(alert);
$color-error: foo-palette(error);

$color-dashboard: (
  guide-line: palette(gray, 400),
  primary: palette(primary, 500),
  primary-dark: palette(primary, 600),
  primary-light: palette(primary, 200),
  tooltip: palette(gray, 850)
);

$color-shield: palette(gray, 700);
$opacity-shield: 0.4;
