@import './mixins';
@import './colors';
@import './borders';
@import './shadows';

$color-bg: palette(base);
$color-active: $color-primary;
$color-within-range: palette(highlight, 900);

.DateRangePicker,
.DateRangePickerInput {
  width: 100%;
}

.DateInput {
  width: calc(50% - 15px);
}

.DateInput_1 {
  background-color: transparent;
}
.DateInput_input {
  @include form-input;
  font-weight: 600;

  padding: 7px 9px;
  color: font-color(light);
}
.DateInput_input__focused {
  border-bottom: solid 1px $color-active;
}
.CalendarDay__blocked_out_of_range {
  opacity: 0.2;
}

.DateRangePickerInput_arrow svg {
  margin: 0 8px !important;
  color: font-color(light);
}

.DateRangePickerInput {
  background-color: transparent;
  border: 0px;
}

.CalendarMonth_caption > strong {
  @include font-title;
  color: font-color(lowlight);
}
.DayPicker_weekHeader_li small {
  @include font-small;
  color: font-color(lowlight);
}

.DateInput_fang {
  display: none;
}

.DayPickerNavigation_leftButton__horizontalDefault,
.DayPickerNavigation_rightButton__horizontalDefault {
  @include border(transparent);

  background: #0000;
  color: #fff;

  &:hover {
    @include border($color-active);
  }

  &:active {
    background-color: $color-active;
    color: font-color(dark);
  }
}

.DateRangePicker_picker {
  z-index: 2;
}

.DateRangePicker_picker,
.DayPicker {
  @include shadow(4);

  background-color: transparent;
}

.modal .DateRangePicker_picker,
.modal .DayPicker {
  box-shadow: 0 0 0 0 $color-black;
}

.CalendarMonth,
.DayPicker_transitionContainer,
.CalendarMonthGrid {
  background-color: $color-bg;
  color: font-color(regular);
}

.CalendarDay {
  @include font-body;
  color: font-color(light);

  background-color: transparent;
  border: 0;
  outline: none;

  &:hover {
    @include border($color-active);
    background-color: inherit;
    color: font-color(light);
  }
}
.CalendarDay__selected {
  background-color: $color-active;
  color: font-color(dark);
}
.CalendarDay__selected_span {
  background-color: $color-within-range;
}

.DayPicker_weekHeader_ul {
  @include font-small;
  font-weight: 700;
}
