@import './mixins';

$bg-color-time-select: #1a1b1f;

.react-time-picker__wrapper {
  @include form-input;
  background-color: $bg-color-time-select;
  height: $grid-unit * 4;
  padding: 0 $grid-unit;
  min-height: $grid-unit * 4;
  width: $grid-unit * 16;
  border: 0 !important;
  font-family: $font-family !important;
  border-bottom: solid 1px transparent !important;

  &:focus-within {
    transition: border-bottom ease 0.5s;
    border-bottom: solid 1px #00cfff !important;
  }

  input {
    color: $font-color-light;
    font-family: $font-family !important;
  }

  input:focus {
    outline: none;
  }

  .react-time-picker__clear-button__icon {
    width: $grid-unit * 1.5;
    stroke: $font-color-regular;

    &:hover {
      stroke: $font-color-white !important;
    }
  }
}
