@import '../../../styles/mixins';
@import '../../../styles/colors';

.container {
  position: relative;
}

.input {
  @include font-body;
  background-color: $bg-color-lighter;
  color: $font-color-light;
  width: 100%;
  font-weight: 600;
  padding: 10px;
  border: solid 1px transparent;
  border-radius: 6px;
  outline: none;
}
.optionsList {
  list-style: none;
  position: absolute;
  background-color: $bg-color-lighter;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  & > li {
    padding: 16px;
    cursor: pointer;
    transition: color ease 0.4s, background-color ease 0.4s;
    &:hover,
    &.isHighlighted {
      background-color: rgba(191, 207, 255, 0.15); // TODO: use common color?
      color: $font-color-white;
    }
  }
}
