@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/shadows';
@import '../../../styles/borders';

.container {
  position: relative;
}

.input {
  @include form-input;

  color: font-color(lowlight);
  font-weight: 600;

  &.showSearchIcon {
    padding-left: 30px;
  }
}
.searchIcon {
  color: font-color(lowlight);
  position: absolute;
  top: calc(50% - 8px);
  left: $grid-unit;
  z-index: 1;
}

.clear {
  position: absolute;
  top: calc(50% - 6px);
  right: -4px;
  transition: right ease-out 0.3s, opacity ease-out 0.3s;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;

  &:hover {
    color: font-color(light);
  }

  &.show {
    right: 10px;
    opacity: 1;
    pointer-events: all;
  }
}

.optionsList {
  @include shadow(3);

  list-style: none;
  position: absolute;
  background-color: $bg-color-lighter;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  & > li {
    padding: 16px;
    cursor: pointer;
    transition: color ease 0.4s, background-color ease 0.4s;
    &:hover,
    &.isHighlighted {
      background-color: $bg-highlighted;
      color: font-color(light);
    }
  }
}
