@import '../../../styles/colors';

.bar {
  pointer-events: none;
  fill: #007c99;
}

.bgBar {
  fill: $color-orange;
}

.g {
  rect {
    transition: fill-opacity ease 0.4s;

    &.unhighlighted {
      fill-opacity: 0.7;
    }
  }

  g.legend {
    text {
      fill: $font-color;
      dominant-baseline: central;
    }

    rect {
      rx: 10px;
    }

    & > g:nth-child(1) > rect {
      fill: #007c99;
    }
    & > g:nth-child(2) > rect {
      fill: $color-orange;
    }
  }
}
