@import '../../../../../../styles/colors';
@import '../../../../../../styles/mixins';

$bar-height: 65px;

.container {
  position: absolute;
  top: 0;
  height: $bar-height;
  width: 100%;
  display: flex;
  z-index: 1;
}

.nWorkflows {
  @include font-caption;
  color: font-color(lowlight);
  line-height: $bar-height;

  border-bottom: solid 1px palette(base, 400);
  border-right: solid 1px palette(base, 400);
  flex-shrink: 0;
  padding: 0 18px 0 34px;

  span {
    color: font-color(light);
    margin-right: $grid-unit;
  }
}

.workflowsStatus {
  @include font-small;
  color: palette(success);
  line-height: $bar-height;

  border-bottom: solid 1px palette(base, 400);
  flex-shrink: 0;
  padding: 0 18px;
}

.charts {
  flex-grow: 1;
  height: fit-content;
  overflow: hidden;
}
