@import '../../styles/mixins';
@import '../../styles/colors';

.row {
  @include font-body;
  color: font-color(lowlight);

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px 0 60px;
  border-bottom: solid 2px #15161a;
}

.itemPosition {
  margin-right: 15px;
}

.itemName {
  flex-grow: 1;
}

.removeButton {
  cursor: pointer;
  transition: color ease 0.4s;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;

  &:hover {
    color: white;
  }
}
