@import '../../../../../styles/variables';
@import '../../../../../styles/colors';

.wrapper {
  height: 100%;
  overflow: hidden;
  width: $lateral-menu-width;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  font-size: 11px;
  color: $font-color-white;
  background-color: #212428;
  padding: 18px;
}

.items {
  flex-grow: 1;
  overflow-y: auto;
}
