@import '../../../../../styles/variables';
@import '../../../../../styles/colors';

.wrapper {
  height: 100%;
  overflow: hidden;
  width: $lateral-menu-width;
  display: flex;
  flex-direction: column;
}

.items {
  flex-grow: 1;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #212428;

  font-weight: 600;
  color: $font-color-light;
  padding: 0 16px;
  font-size: 11px;

  a {
    margin-left: auto;
  }
}
