@import '../../../styles/colors';
@import '../../../styles/mixins';

.int {
  fill: $color-node-content;
}

.label {
  @include font-button;
  fill: $font-color;
}

.INACTIVE,
.CREATED {
  .ext {
    fill: $color-grey-darker;
  }
  .int {
    stroke: $color-node-content;
  }
}

.ACTIVE,
.RUNNING {
  .ext {
    fill: $color-green;
    stroke: $color-green;
  }
  .int {
    stroke: $color-green;
  }
  .label {
    fill: $font-color-white;
  }
}

.WARNING {
  .ext {
    fill: $color-orange;
    stroke: $color-orange;
  }
  .int {
    stroke: $color-orange;
  }
}

.ERROR {
  .ext {
    fill: $color-red;
    stroke: $color-red;
  }
  .int {
    stroke: $color-red;
  }
}
