@import '../../../../../styles/mixins';
@import '../../../../../styles/colors';

.message {
  @include font-body;
  font-weight: 500;
  color: font-color(lowlight);

  margin: 10px 0px 25px 0;
}

.list {
  max-height: 32vh;
  overflow: auto;

  & > div:not(:last-child) {
    border-bottom: solid 1px palette(base, 300);
  }
}

.confirmMessage {
  @include font-body;
  font-weight: 500;
  color: font-color(lowlight);

  margin-top: 2 * $grid-unit;
}
