apiVersion: v2
appVersion: "0.1"
description: Konstellation Runtime Environment Chart
name: kre
version: 0.1.7
dependencies:
  - name: prometheus-operator
    version: "9.3.1"
    repository: "https://kubernetes-charts.storage.googleapis.com"
    condition: prometheus-operator.enabled
