@import '../../../../styles/mixins';

.container {
  min-width: $grid-unit * 56;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.items {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}

@media (max-width: 1400px) {
  .container {
    min-width: $grid-unit * 56;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  .items {
    flex-grow: 1;
    overflow: auto;
  }
}
