@import '../../styles/variables';
@import '../../styles/colors';
@import '../../styles/mixins';

.chip {
  @include font-small;
  color: font-color(dark);

  display: flex;
  height: 3 * $grid-unit;
  background-color: $bg-tab-default;
  padding: 0.5 * $grid-unit $grid-unit 0.5 * $grid-unit $grid-unit;
  border-radius: 0.5 * $grid-unit;
  margin: 0.5 * $grid-unit 15px 0.5 * $grid-unit 0;
  max-width: 30 * $grid-unit;
  transition: background-color ease 0.3s;

  .label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .icon {
    margin: 2px 0 0 $grid-unit;
    transition: color ease 0.2s;
    cursor: pointer;

    &:hover {
      color: font-color(light);
    }
  }

  &:hover {
    background-color: $bg-tab-hover;
  }
}
