@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.wrapper {
  color: $font-color-white;
  padding: 16px 0;
  padding-left: 16px;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: 500;
  font-size: 13px;

  padding: 0 16px 16px 16px;
}

.desc {
  font-size: 11px;
  padding: 0 30px;
  color: $font-color-light;
  font-weight: 500;
}

.circle {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: $color-green;
  flex-shrink: 0;

  &.CREATED,
  &.STOPPED {
    background-color: $font-color-regular;
  }

  &.PUBLISHED {
    background-color: $color-green;
  }

  &.STARTED {
    background-color: $color-blue;
  }
}
