@import '../../../../../../styles/variables';
@import '../../../../../../styles/colors';

$workflowMargin: 2.5 * $grid-unit;
$container-height: 210px;

.workflowContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2 * $grid-unit 0 $bg-color-dark;
  border: 1px solid $border-color-1;
  border-radius: $grid-unit;
  background-color: $bg-box;
  margin: $workflowMargin $workflowMargin 0 $workflowMargin;
  padding: 2 * $grid-unit;
  height: $container-height;

  .chartContainer {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .workflowHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2 * $grid-unit;
  }
}
