@import '../../../../../../styles/variables';
@import '../../../../../../styles/colors';
@import '../../../../../../styles/mixins';

$color-line: #5d6c76;
$color-label-bg: palette(base, 400);
$color-node-bg: palette(base, 600);

$STATUS-ACTIVE: STARTED;
$STATUS-ACTIVE-2: PUBLISHED;
$STATUS-STOPPED: STOPPED;
$STATUS-LOADING: ERROR;
$STATUS-LOADING-2: STARTING;
$color-stopped: font-color(regular);
$color-loading: palette(feedback);
$color-active: $color-ok;

$animation-duration: 0.8s;
@mixin animate($field) {
  transition: $field ease $animation-duration;
}

.node {
  .circlesG {
    &:hover {
      filter: url('#glow');

      + g.labelG {
        .nodeLabel {
          fill: font-color(white);
        }

        line {
          stroke: white;
        }
        rect {
          filter: url('#glowLow');
        }
        text {
          fill: font-color(white);
        }
      }
    }
  }
  .innerCircle {
    pointer-events: none;
    @include animate(fill);
  }
  .outerCircle {
    fill: $color-node-bg;
    cursor: pointer;
    @include animate(stroke);
  }

  &.#{$STATUS-STOPPED} {
    .innerCircle {
      fill: $color-stopped;
    }
    .outerCircle {
      stroke: $color-stopped;
    }
  }
  &.#{$STATUS-LOADING} {
    .innerCircle {
      fill: $color-loading;
    }
    .outerCircle {
      stroke: $color-loading;
    }
  }
  &.#{$STATUS-ACTIVE} {
    .innerCircle {
      fill: $color-active;
    }
    .outerCircle {
      stroke: $color-active;
    }
  }
}

.inputNode,
.outputNode {
  @include animate(stroke);
  fill: $color-node-bg;

  &.#{$STATUS-STOPPED},
  &.#{$STATUS-ACTIVE},
  &.#{$STATUS-LOADING-2} {
    stroke: $color-stopped;

    .icon svg {
      fill: $color-stopped;
    }
  }

  &.#{$STATUS-ACTIVE-2} {
    stroke: $color-active;
  }

  .icon svg {
    stroke: transparent !important;
    fill: font-color(lowlight);
  }
}

.nodeLabel {
  @include font-small;

  fill: font-color(lowlight);
  transition: fill ease 0.4s;
  text-anchor: middle;
}

.nodeLabelRect {
  fill: $color-label-bg;
}
.nodeLabelLine {
  stroke: $color-line;
  stroke-dasharray: 2.5;
}

.nodesG,
.edgesG,
.node,
.inputNode,
.outputNode,
.lineG,
.line,
.path,
.innerCircle {
  display: block;
}
.lineG {
  line {
    stroke-dasharray: 5;
  }
  line,
  path {
    @include animate(stroke);
  }

  &.#{$STATUS-STOPPED},
  &.#{$STATUS-LOADING-2},
  &.#{$STATUS-LOADING} {
    line,
    path {
      stroke: $color-stopped;
    }
  }
  &.#{$STATUS-ACTIVE},
  &.#{$STATUS-ACTIVE-2} {
    line,
    path {
      stroke: $color-active;
    }
  }
}
