@import '../../../../../../styles/variables';
@import '../../../../../../styles/colors';
@import '../../../../../../styles/mixins';

$color-line: #5d6c76;

$STATUS-ACTIVE: STARTED;
$STATUS-ACTIVE-2: PUBLISHED;
$STATUS-STOPPED: STOPPED;
$STATUS-LOADING: ERROR;
$STATUS-LOADING-2: STARTING;
$color-stopped: $font-color-regular;
$color-loading: $color-blue;
$color-active: $color-green;

$animation-duration: 0.8s;
@mixin animate($field) {
  transition: $field ease $animation-duration;
}

.node {
  .circlesG {
    &:hover {
      filter: url('#glow');

      + g.labelG {
        .nodeLabel {
          fill: $font-color-white;
        }

        line {
          stroke: white;
        }
        rect {
          filter: url('#glowLow');
        }
      }
    }
  }
  .innerCircle {
    pointer-events: none;
    @include animate(fill);
  }
  .outerCircle {
    fill: $bg-box;
    cursor: pointer;
    @include animate(stroke);
  }

  &.#{$STATUS-STOPPED} {
    .innerCircle {
      fill: $color-stopped;
    }
    .outerCircle {
      stroke: $color-stopped;
    }
  }
  &.#{$STATUS-LOADING} {
    .innerCircle {
      fill: $color-loading;
    }
    .outerCircle {
      stroke: $color-loading;
    }
  }
  &.#{$STATUS-ACTIVE} {
    .innerCircle {
      fill: $color-active;
    }
    .outerCircle {
      stroke: $color-active;
    }
  }
}

.inputNode {
  &:hover {
    filter: url('#glow');
  }

  .shape,
  .nodePeak,
  .peakCut {
    @include animate(fill);
    fill: $bg-box;
    stroke: transparent;
  }

  &.#{$STATUS-STOPPED},
  &.#{$STATUS-ACTIVE},
  &.#{$STATUS-LOADING-2} {
    .shape,
    .nodePeak {
      stroke: $color-stopped;
    }

    .icon > svg > path {
      fill: $color-stopped;
    }
  }

  &.#{$STATUS-ACTIVE-2},
  &.#{$STATUS-ACTIVE-2} {
    .shape,
    .nodePeak,
    .peakCut {
      fill: $color-active;
    }

    .icon > svg > path {
      fill: $font-color-dark;
    }
  }

  .icon > svg > path {
    @include animate(stroke);
    stroke: transparent !important;
  }
}

.outputNode {
  .shape,
  .nodePeak,
  .peakCut {
    @include animate(fill);
    fill: $bg-box;
    stroke: transparent;
  }

  &.#{$STATUS-STOPPED},
  &.#{$STATUS-ACTIVE},
  &.#{$STATUS-LOADING-2} {
    .shape,
    .nodePeak {
      stroke: $color-stopped;
    }

    .icon > svg > path {
      fill: $color-stopped;
    }
  }

  &.#{$STATUS-ACTIVE-2},
  &.#{$STATUS-ACTIVE-2} {
    .shape {
      fill: $color-active;
    }

    .icon > svg > path {
      fill: $font-color-dark;
    }
  }

  .icon > svg > path {
    @include animate(stroke);
    stroke: transparent !important;
  }
}

.nodeLabel {
  @include font-body;
  font-weight: 500;

  fill: $font-color-light;
  transition: fill ease 0.4s;
  text-anchor: middle;
}

.nodeLabelRect {
  fill: $color-node-content;
}
.nodeLabelLine {
  stroke: $color-line;
  stroke-dasharray: 2.5;
}

.nodesG,
.edgesG,
.node,
.inputNode,
.outputNode,
.lineG,
.line,
.path,
.innerCircle {
  display: block;
}
.lineG {
  line {
    stroke-dasharray: 5;
  }
  line,
  path {
    @include animate(stroke);
  }

  &.#{$STATUS-STOPPED},
  &.#{$STATUS-LOADING-2},
  &.#{$STATUS-LOADING} {
    line,
    path {
      stroke: $color-stopped;
    }
  }
  &.#{$STATUS-ACTIVE},
  &.#{$STATUS-ACTIVE-2} {
    line,
    path {
      stroke: $color-active;
    }
  }
}
