@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/shadows';

$color-bg: palette(error, 900);

.container {
  @include shadow(4);

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 3px;
  padding: 0 20px;
  background-color: $color-bg;
  white-space: nowrap;
}

.label {
  @include font-button;
  color: black;

  width: 105px;
  height: 24px;
  padding: 0 5px;
  line-height: 24px;
  text-align: center;

  &.error {
    background-color: palette(error);
  }
}

.message {
  @include font-body;
  font-weight: 600;
  color: white;

  padding: 0 20px;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
