apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-mongo
  labels:
    {{- include "mongodb.labels" . | nindent 4 }}
type: Opaque
data:
  MONGO_INITDB_ROOT_USERNAME: {{ .Values.mongodb.auth.adminUser | b64enc }}
  MONGO_INITDB_ROOT_PASSWORD: {{ .Values.mongodb.auth.adminPassword | b64enc }}
