apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-mongo
  labels:
    {{- include "mongodb.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: 27017
      targetPort: 27017
      protocol: TCP
  selector:
    {{- include "mongodb.selectorLabels" . | nindent 4 }}
