{{ if hasKey .Values.certManager "dns01"}}
{{ if hasKey .Values.certManager.dns01 "route53"}}
apiVersion: v1
kind: Secret
metadata:
  name: aws-secret
  labels:
    app:  aws-secret
type: Opaque
data:
  AWS_SECRET_ACCESS_KEY: {{ .Values.certManager.dns01.route53.secretAccessKey | b64enc }}
{{ end }}
{{ end }}
