apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap
  labels:
    {{- include "kre.labels" . | nindent 4 }}
    app: {{ template "kre.fullname" . }}-admin-api
data:
  # Admin
  KRE_ADMIN_API_ADDRESS: "{{ .Values.config.admin.apiAddress }}"
  KRE_ADMIN_FRONTEND_BASE_URL: "{{ .Values.config.admin.frontendBaseURL }}"
  KRE_ADMIN_CORS_ENABLED: "{{ .Values.config.admin.corsEnabled }}"
  KRE_SERVICES_K8S_MANAGER: "{{ .Values.config.admin.k8sManagerAddress }}"
  # K8S MANAGER
  KRE_BASE_DOMAIN_NAME: {{ .Values.config.baseDomainName }}
  KRE_SHARED_STORAGECLASS: {{ .Values.config.runtime.sharedStorageClass }}
  KRE_SHARED_STORAGE_SIZE: {{ .Values.config.runtime.sharedStorageSize }}
  # SMTP
  KRE_SMTP_ENABLED: "{{ .Values.config.smtp.enabled }}"
  {{- if .Values.config.smtp.enabled }}
  KRE_SMTP_SENDER: "{{ .Values.config.smtp.sender }}"
  KRE_SMTP_SENDER_NAME: "{{ .Values.config.smtp.senderName }}"
  KRE_SMTP_HOST: "{{ .Values.config.smtp.host }}"
  KRE_SMTP_PORT: "{{ .Values.config.smtp.port }}"
  {{- end }}
  # Auth
  KRE_AUTH_VERIFICATION_CODE_DURATION_IN_MINUTES: "{{ .Values.config.auth.verificationCodeDurationInMinutes }}"
  KRE_AUTH_SECURE_COOKIE: "{{ .Values.config.auth.secureCookie }}"
  # MongoDB
  KRE_MONGODB_DB_NAME: "{{ .Values.mongodb.mongodbDatabase }}"
