{{- $protocol := ternary  "https" "http" .Values.adminUI.tls.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap
  labels:
    {{- include "kre.labels" . | nindent 4 }}
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  KRE_DEVELOPMENT_MODE: "{{ .Values.developmentMode }}"
  KRE_RELEASE_NAME: "{{ .Release.Name }}"

  # Admin
  KRE_ADMIN_FRONTEND_BASE_URL: "{{ .Values.config.admin.frontendBaseURL }}"
  KRE_ADMIN_API_BASE_URL: "{{ $protocol }}://{{ .Values.config.admin.apiHost }}"
  KRE_ADMIN_CORS_ENABLED: "{{ .Values.config.admin.corsEnabled }}"
  KRE_SERVICES_K8S_MANAGER: "k8s-manager:50051"
  # K8S MANAGER
  KRE_BASE_DOMAIN_NAME: {{ .Values.config.baseDomainName }}
  KRE_ENTRYPOINT_REQUEST_TIMEOUT: "30"
  KRE_ENTRYPOINT_BASE64_INGRESSES_ANNOTATIONS: {{ .Values.k8sManager.generatedEntrypoints.ingress.annotations | toYaml | b64enc }}
  KRE_ENTRYPOINTS_TLS: "{{ .Values.k8sManager.generatedEntrypoints.tls }}"
  {{- if .Values.k8sManager.generatedEntrypoints.tls }}
  KRE_ENTRYPOINTS_TLS_CERT_SECRET_NAME: {{ include "kre-entrypoint.tls-secret" . }}
  {{- end }}
  {{- if and .Values.k8sManager.generatedEntrypoints.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  KRE_ENTRYPOINTS_INGRESS_CLASS_NAME: {{ .Values.adminApi.ingress.className }}
  {{- end }}

  # SMTP
  KRE_SMTP_ENABLED: "{{ .Values.config.smtp.enabled }}"
  {{- if .Values.config.smtp.enabled }}
  KRE_SMTP_SENDER: "{{ .Values.config.smtp.sender }}"
  KRE_SMTP_SENDER_NAME: "{{ .Values.config.smtp.senderName }}"
  KRE_SMTP_HOST: "{{ .Values.config.smtp.host }}"
  KRE_SMTP_PORT: "{{ .Values.config.smtp.port }}"
  {{- end }}
  # Auth
  KRE_AUTH_VERIFICATION_CODE_DURATION_IN_MINUTES: "{{ .Values.config.auth.verificationCodeDurationInMinutes }}"
  KRE_AUTH_SECURE_COOKIE: "{{ .Values.config.auth.secureCookie }}"
  KRE_AUTH_COOKIE_DOMAIN: "{{ .Values.config.auth.cookieDomain }}"
  # NATS Streaming
  KRE_NATS_STORAGECLASS: "{{ .Values.nats_streaming.storage.className }}"
  KRE_NATS_STORAGE_SIZE: "{{ .Values.nats_streaming.storage.size }}"
  # MongoDB
  KRE_MONGODB_STORAGECLASS: "{{ .Values.mongodb.persistentVolume.storageClass }}"
  KRE_MONGODB_STORAGE_SIZE: "{{ .Values.mongodb.persistentVolume.size }}"
  # Chronograf
  KRE_CHRONOGRAF_STORAGECLASS: "{{ .Values.chronograf.persistence.storageClass }}"
  KRE_CHRONOGRAF_STORAGE_SIZE: "{{ .Values.chronograf.persistence.size }}"
  #InfluxDB
  KRE_INFLUXDB_ADDRESS: {{ include "runtime.influxURL" . }}
  KRE_INFLUXDB_STORAGECLASS: "{{ .Values.influxdb.persistence.storageClass }}"
  KRE_INFLUXDB_STORAGE_SIZE: "{{ .Values.influxdb.persistence.size }}"
  #KRTFilesDownloader
  KRE_KRT_FILES_DOWNLOADER_IMAGE: "{{ .Values.k8sManager.krtFilesDownloader.image.repository }}"
  KRE_KRT_FILES_DOWNLOADER_TAG: "{{ .Values.k8sManager.krtFilesDownloader.image.tag }}"
  KRE_KRT_FILES_DOWNLOADER_PULL_POLICY: "{{ .Values.k8sManager.krtFilesDownloader.image.pullPolicy }}"
