$bg-color: #0d0e11;
$bg-color-lighter: #15161a;

$font-color: #5d6c76;
$font-color-white: #e5ebf0;
$font-color-dark: #282d33;

$color-grey: #15161a;
$color-grey-darker: #121317;
$color-button-blue: #00cffc;
$color-blue: #00cfff;
$color-bright-blue: #1ad3ff;
$color-bright-blue-2: #66e2ff;
$color-red: #ea4747;
$color-yellow: #fcbf30;
$color-orange: #fc9900;
$color-green: #7bac1c;

$color-sidebar: #15161A
