$bg-color: #0d0e11;
$bg-color-lighter: #15161a;

$font-color: #5d6c76;
$font-color-white: #e5ebf0;
$font-color-dark: #282d33;

$color-grey: #1d1e23;
$color-grey-darker: #121317;
$color-button-blue: #00cffc;
$color-blue: #00a5cc;
$color-bright-blue: #1ad3ff;
$color-bright-blue-2: #66e2ff;
$color-red: #fc6057;
$color-yellow: #fcbf30;
$color-green: #29ca42;

$color-sidebar: #15161A
