name: ADMIN admin-api Docker 

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  docker-build:
    runs-on: ubuntu-latest    
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get Version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./admin/admin-api
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            konstellation/admin-api:${{ steps.get_version.outputs.VERSION }}
            konstellation/admin-api:latest
