name: ADMIN admin-api Tests

on:
  push:
    branches-ignore:
      - "v*"
    tags-ignore:
      - v*
    paths:
      - "admin/admin-api/**/*"
      - ".github/workflows/admin-admin-api*"

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14.x
      - name: Test
        run: go test ./... -cover -v -coverprofile=coverage.out
        working-directory: ./admin/admin-api
      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: admin/admin-api/coverage.out
  
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Download code coverage results
        uses: actions/download-artifact@v2
        with:
          name: coverage-report
          path: admin/admin-api
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          projectBaseDir: admin/admin-api
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.ADMIN_API_SONAR_TOKEN }}
