name: Fix

on:
  workflow_run:
    workflows:
      - "ENGINE admin-api Tests"
      - "ENGINE admin-ui Tests"
      - "ENGINE k8s-manager Tests"
      - "ENGINE mongo-writer Tests"
    branches: ["release-*"]
    types:
      - completed
  push:
    branches: ["release-*"]
    paths:
      - "helm/**/*"
      - ".github/workflows/build_release.yaml"


jobs:
  create-fix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Generate a fix
        uses: intelygenz/action-product-version-tags@v0.2.0
        with:
          prefix: "release-"
          mode: 'fix'
        env:
          GITHUB_TOKEN: ${{ secrets.PATNAME }}
