name: Release Helm Charts

on:
  push:
    tags:
      - v*.*.*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      
      - name: Get Version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - uses: chrisdickinson/setup-yq@latest
      - name: Replace component version with YQ
        run:  |
          # set image tags
          yq w -i helm/kre/values.yaml 'adminUI.image.tag' ${{ steps.get_version.outputs.VERSION }}
          yq w -i helm/kre/values.yaml 'adminApi.image.tag' ${{ steps.get_version.outputs.VERSION }}
          yq w -i helm/kre/values.yaml 'k8sManager.image.tag' ${{ steps.get_version.outputs.VERSION }}

          # set app version in chart
          yq w -i helm/kre/Chart.yaml 'appVersion' ${{ steps.get_version.outputs.VERSION }}

          # format version X.X.X 
          RELEASE_VERSION=`echo "${{ steps.get_version.outputs.VERSION }}" | sed -e 's/v//g' | sed -e 's/-alpha.*/.0/g'`
          yq w -i helm/kre/Chart.yaml 'version' $RELEASE_VERSION

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.0.0
        with:
          charts_dir: 'helm'
          charts_repo_url: 'https://charts.konstellation.io'
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Update Helm Chart
        run:  |
          curl --request POST --header "${{ secrets.NOTIFY_TOKEN }}" "${{ secrets.NOTIFY_URL }}"$RELEASE_VERSION >/dev/null 2>&1
