name: Pre Release

on:
  workflow_run:
    workflows:
      - "ENGINE admin-api Tests"
      - "ENGINE admin-ui Tests"
      - "ENGINE k8s-manager Tests"
      - "ENGINE mongo-writer Tests"
    branches: [master]
    types: 
      - completed

jobs:
  generate-prerelease:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Generate a pre-release
        uses: intelygenz/action-product-version-tags@v0.1.8
        with:
          current-major: 1
          prefix: "release-"
          mode: 'pre-release'
          pre-release: 'alpha'
          default-branch: 'master'
        env:
          GITHUB_TOKEN: ${{ secrets.PATNAME }}
