@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/variables';

.container {
  @include border-header;
  @include font-body;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $grid-unit * 6;
  flex-shrink: 0;
}

.filter {
  @include font-code;
  display: flex;
  flex-direction: row;
  padding: 0 16px;

  background-color: $font-color-dark;
  color: $font-color-white;

  div:first-child {
    margin-right: 8px;
  }
}

.leftFilters {
  display: flex;
  align-items: center;
  margin-left: $grid-unit * 2.5;
}
.rightFilters {
  margin-right: $grid-unit * 2.5;
  display: flex;
  & > div:not(:last-child) {
    border-right: 2px solid #1d1e23;
    border-right-style: inset;
  }
}
.dateFilter {
  width: $grid-unit * 21.5;
}
