@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/variables';

.container {
  @include font-body;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $grid-unit * 6;
  flex-shrink: 0;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  > div {
    margin-right: $grid-unit;
  }
}
.rightFilters {
  margin-right: $grid-unit * 2.5;
  & > div:not(:last-child) {
    border-right: 1px solid palette(base, 400);
  }
}

.searchFilter {
  width: 30vw;
  height: 30px;
  margin-left: 20px;

  .searchForm {
    input {
      height: 30px;
      min-height: 30px;
    }
  }
}

.selectType {
  width: 11vw;
}

.selectProcesses {
  width: 24vw;
}

.dateFilter {
  width: $grid-unit * 21.5;
}
