@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/variables';

.container {
  @include font-body;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $grid-unit * 6;
  flex-shrink: 0;
}

.rightFilters {
  margin-right: $grid-unit * 2.5;
  display: flex;
  & > div:not(:last-child) {
    border-right: 1px solid palette(base, 400);
  }
}
.dateFilter {
  width: $grid-unit * 21.5;
}
