@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.item {
  color: $font-color-white;

  cursor: pointer;
  padding: 16px 0;

  &:hover {
    .arrow {
      opacity: 1;
    }

    .name,
    .desc {
      color: $font-color-white;
    }
  }
}

.itemSelected {
  color: $font-color-light;
  pointer-events: none;
  cursor: default;

  .arrow {
    opacity: 1;
  }

  .name,
  .desc {
    color: $font-color-white;
  }
}

.arrow {
  opacity: 0;
  margin-left: auto;
}

.circle {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: $color-green;
  flex-shrink: 0;

  &.CREATED,
  &.STOPPED {
    background-color: $font-color-regular;
  }

  &.PUBLISHED {
    background-color: $color-green;
  }

  &.STARTED {
    background-color: $color-blue;
  }
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: 500;
  font-size: 13px;
  color: $font-color-light;

  padding: 0 16px 16px 16px;
}

.desc {
  font-size: 11px;
  color: $font-color-regular;
  padding: 0 30px;
  font-weight: 500;
}
