@import '../../../../styles/colors';
@import '../../../../styles/mixins';
@import '../../../../styles/variables';

$color-bg: palette(base);

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $color-bg;
  padding: 0 34px 11px 34px;

  .title {
    @include font-body;
    font-weight: 500;

    margin-bottom: 8px;
  }

  .col1 {
    width: 32%;

    .timeInput {
      margin-bottom: $grid-unit * 2;
      width: 140px;
    }
  }

  .col2 {
    width: 68%;

    .ranges {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 117px;
      line-height: $grid-unit * 3;
      padding: 10px $grid-unit;

      div {
        cursor: pointer;
        transition: color ease 0.4s;

        &:hover {
          color: font-color(light);
        }
      }
    }
  }
}

$bg-color-time-select: #1a1b1f;
.select > div > div {
  background-color: $bg-color-time-select;
}
